
body {
	background-color: #8FB9D4;
	margin: 0;
	font-family: Helvetica, sans-serif;
	font-size: 0.8em;
}

/* geen afbeelding als het scherm te klein is */
figure{
	display: none;
}

/* de witte vakken content */
.content {
  padding: 20px 30px;
  background-color: white;
  border-radius: 6px;
  border: 3px solid #808080;
  margin: 5px;
  margin-left: 20px;
  min-width: 100px;
}

/* container */
.vak{
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;
	margin-left: 20px;
	margin-right: 10px;
}

/* tijdlijn als border aan de linker kant */
article{
	min-height: 32px;
	border-left: 5px solid white;
	padding-left: 20px;
	position: relative;
}

/* circels op tijdlijn */
.bullet{
	width: 20px;
	height: 20px;
	background-color: white;
	border-radius: 20px;
	position: absolute;
	top: 0;
	left: -15px;
	border: 3px solid #808080;
}


/* Afbeeldingen zijn nu wel zichtbaar*/
@media only screen and (min-width: 400px){

figure{
	display: flex;
	justify-content: center; /* align horizontaal */
	margin-bottom: 0;

}
img {
  max-width: 100%;
  height: auto;

}
}

/* De tijdlijn veranderd nu compleet*/
@media only screen and (min-width: 600px){

.vak{
	display: flex;
	margin-left: 20px;
	margin-right: 20px;
}

.content{
	margin: 3px;
}

/* Zorgen dat de eerdere border en circels niet meer werken*/
article{
	border: none;
	padding: 0px;
}

.bullet{
	display: none;
}

/* De tijdlijn */
article::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* De circels op de tijdlijn */
.container::after {
  content: '';
  background-color: white;
  position: absolute;
  width: 20px;
  height: 20px;
  right: -11.8%;
  border: 3px solid #808080;
  top: 4px;
  border-radius: 20px;
  z-index: 1;
}

/* De rechter circels op de tijdlijn repareren*/
.right::after {
  left: -11.8%;
}

/*Grootte van de content vakken */
.right, .left{
	position: relative;
	width: 47%;
}

/* Positioneren met behulp van flexbox*/
.start{
	display: flex;
	justify-content: flex-start;
	padding-left: 0px;
}

.end{
	display: flex;
	justify-content: flex-end;
}
}

/* Grootte veranderd */
@media  only screen and (min-width: 768px){

body{
	font-size: 1.1em;
}

.container::after {
	right: -10.9%;
	height: 22px; 
	width: 22px;

}

.right::after{
	left: -10.9%;
}
}

/* Grootte veranderd */
@media only screen  and (min-width: 1024px){

body{
	font-size: 1.3em;
}

.container::after {
	right: -9.9%;
	height: 24px; 
	width: 24px;

}

.right::after{
	left: -9.9%;
}
}

/* Grootte veranderd */
@media only screen  and (min-width: 1200px){

.container::after {
	right: -9%;
}

.right::after{
	left: -9%;
}
}

